{% extends 'blog/base_form.html' %}

{% block title %}
    Confirm password
{% endblock %}

{% block content %}
    <p>
        Please enter your new password twice so we can verify you typed it in correctly.
    </p>

    <div class="input-form">
        <p>
            <input id="id_new_password1" type="password" name="new_password1"
                   placeholder="New password" required>
        </p>
    </div>

    <div class="input-form">
        <p>
            <input id="id_new_password2" type="password" name="new_password2"
                   placeholder="Confirm password" required>
        </p>
    </div>

    <div class="input-form">
        <p>
            <input type="submit" value="Change my password">
        </p>
    </div>
{% endblock %}