{% extends 'blog/base.html' %}



{% block content %}
<div>
    <form  method="post">
        {% csrf_token %}
        <div class="input-form">
            <p>
                {{form.old_password.errors}}
                <input id="id_old_password" type="password" name="old_password"
                       placeholder="Old password" required>
            </p>
        </div>

        <div class="input-form">
            <p>
                {{form.new_password1.errors}}
                <input id="id_new_password1" type="password" name="new_password1"
                       placeholder="New password" required>
            </p>
        </div>

        <div class="input-form">
            <p>
                {{form.new_password2.errors}}
                <input id="id_new_password2" type="password" name="new_password2"
                       placeholder="Confirm new password" required>
            </p>
        </div>
        <div class="input-form">
            <input  type="submit"  value="Change password">
        </div>

    </form>
</div>

{% endblock %}