{% extends 'blog/base.html' %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <form method="post" class="form-group" action="{% url 'contact' %}">
        {% csrf_token %}
        <div class="input-form">
            You have any issues or recommends? Contact us!
        </div>

        <div class="input-form">
            <p>
                <input id="id_username" type="text" name="username"
                       placeholder="Name" required>
            </p>
        </div>

        <div class="input-form">
            <p>
                <input id="id_email" type="email" name="email"
                       placeholder="Email" required>
            </p>
        </div>

        <div class="input-form">
            <p>
                <input id="id_message" type="text" name='message'
                       placeholder="Message" required>
            </p>
        </div>

        <div class="input-form">
            <input type="submit" value="Submit">
        </div>

    </form>
{% endblock %}
