<!DOCTYPE html>
{% if user.is_authenticated == False %}
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css' %}">
</head>
<body>
	<header>


		<div class="logo">
			<h1 id="logo">FORUM</h1>
		</div>
		<div class="pages">
			<a href="{% url 'profile' %}">Profile</a>
			<a href="/" id="news">Home</a>
		</div>
		<time id="time">12:02:04 PM</time>
	</header>


	<div>
		<form method="post" class="form-group">
			{% csrf_token %}
			<div class="register-form">
				<p>
					{{form.username.errors}}
					<input id="id_username" type="text" name="username"
						   placeholder="Name" required>
				</p>
			</div>

			<div class="register-form">
				<p>
					{{form.email.errors}}
					<input id="id_email" type="email" name="email"
						   placeholder="Email" required>
				</p>
			</div>

			<div class="register-form">
				<P>
					{{form.password1.errors}}
					<input id="id_password1" type="password" name="password1"
						   placeholder="Password" required>
				</P>
			</div>


			<div class="register-form">
				<p>
					{{form.password2.errors}}
					<input id="id_password2" type="password" name="password2"
						   placeholder="Confirm password" required>
				</p>
			</div>

			<div class="register-form">
				<input type="submit" value="Sign In">
			</div>
		</form>
	</div>

	<footer>
		<button id="upbutton" onclick="smoothJumpUp()"><i class="fa fa-level-up" aria-hidden="true"></i></button>
		<ul class="social">
			<li class="social_item vk">
				<i class="fa fa-vk" aria-hidden="true"></i>
			</li>
			<li class="social_item instagram">
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</li>
		</ul>
		<span id="footer-email">email: admin@admin.com</span><Br>
		<span id="footer-phone">phone: 8888-9999</span>
	</footer>
	<script type="text/javascript" src="{% static 'js/main_js.js' %}"></script>
</body>
</html>

{% endif %}
